<template>
  <div class="home">
    <table class="marks">
      <thead>
        <tr>
          <th>Name</th>
          <th>Mark ID</th>
          <th>Name Rus</th>
          <th>Translit</th>
        </tr>
      </thead>
      <tr>
        <td><input type="text" v-model="search" placeholder="Search name.."/></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="mark" v-for="mark in filteredList" v-bind:key="mark.id">
        <td>{{ mark.attributes.name }}</td>
        <td>{{ mark.attributes.mark_id }}</td>
        <td>{{ mark.attributes.name_rus }}</td>
        <td>{{ mark.attributes.translit }}</td>
      </tr>
    </table>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Home',
  data: () => {
    return {
      search: '',
      marks: [],
      errors: []
    }
  },
  created () {
    var self = this

    axios.get('http://localhost:8081/api/v1/auto/marks')
      .then((response) => {
        self.marks = response.data.data
      })
      .catch(e => {
        self.errors.push(e)
      })
  },
  computed: {
    filteredList () {
      return this.marks.filter(mark => {
        return mark.attributes.name.toLowerCase().includes(this.search.toLowerCase())
      })
    }
  }
}
</script>

<style scoped>
  .marks {
    border-collapse: collapse;
    width: 85%;
    margin: 0 auto;
  }
  .marks td {
    border: 1px solid #ccc;
  }
</style>
